#header {
    min-height: 48px;
    background-color: #045287;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}